<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="container">
  <h2>Complaint Table</h2>         
  <table class="table table-hover table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th class="col-sd-1">Complaint Id</th>
        <th class="col-sd-1">Customer</th>
        <th class="col-sd-1">Complaint Description</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td class="table-dark">{{ row.complaintId }}</td>
        <td class="table-dark">{{ row.username }}</td>
        <td class="table-dark">{{ row.description }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
  <form  style="padding-left:120px;padding-top: 30px;" action="/assign" method="POST">
    
    <div class="form-group">
       <label for="complaintId">Complaint Number:</label>
       <input type="textfield" class="form-control" id="complaintId" name="complaintId" placeholder="Enter complaintId" style="width:300px;">
    </div>

    <div class="form-group">
       <label for="enggId">Engineer:</label>
        <select class="form-control" id="enggId" name="enggId">
            <option>Select Engineer</option>
            {% for engineer in engineers %}
            <option value="{{ engineer.username }}">{{ engineer.username }}</option>
            {% endfor %}
        </select> 
    </div>
  
    <button type="submit" style="border:1px solid black; " class="btn btn-default">Send</button>
  <a href="/logout">Logout</a>
  </form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
