<!DOCTYPE html>
<html>

		<title>Complaint managment system</title>
		<style>
table, th, td {
  border: 1px solid black;
	width:20px;
height:30px;

}
		
            
        .container {
       			 background-color: antiquewhite;    
            }
		
		.table{
			margin:auto;
			width: 40%;
			padding: 15px;
			background-color:antiquewhite ;
			 border: 1px solid black;
}
		</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<body>
	<center><h1> VJTI COMPLAINT MANAGMENT SYSTEM </h1></center>
        <div class="container">
		

<div class="container">
 <center> <h2> Table</h2></center>
  <form method="POST" action="/assigned">
  <input type="hidden" name="complaintId" id="complaintId" />
  <table class="table">

      <tr>
        <th>Complaint No</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td>{{ row.complaintId }}</td>
        <td>{{ row.description }}</td>
        <td><button type="button" onclick="closeComplaint({{ row.complaintId }})">Close</button></td>
      </tr>
      {% endfor %}
  </table>
  </form>
</div>
<script>
      function closeComplaint(complaintId){
        $("#complaintId").val(complaintId);
        $("form").submit();
      }
</script>
</html>
